.button {
  height: 40px;

  background-color: #ebedf3;
  color: #353e42;

  font-size: 16;
  font-weight: 600;
  line-height: 1.25;

  align-items: center;

  padding: 10px 20px;
  margin: 0 auto;

  border-radius: 20px;

  box-shadow: -1px -1px 5px #ffffff, 5px 5px 10px #a1a6b8;

  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px #a1a6b8;
  }

  &:active {
    background-color: #a89c9c;
    color: #ffffff;
    box-shadow: inset 1px 1px 2px #ffffff, inset -1px -1px 2px #a1a6b8;
  }
}

.button-icon {
  min-width: 40px;

  background-color: #ebedf3;
  fill: #353e42;

  padding: 10px;

  border-radius: 50px;

  box-shadow: -1px -1px 5px #ffffff, 5px 5px 10px #a1a6b8;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.15);
    box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px #a1a6b8;
  }

  &:active {
    background-color: #a89c9c;
    fill: #ffffff;
    box-shadow: inset 1px 1px 2px #ffffff, inset -1px -1px 2px #a1a6b8;
  }
}
