.home-container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.home-title {
  font-weight: 500;
  font-size: 36;
  text-align: center;
}

.home-link {
  font-weight: 500;
  font-size: 24;
  text-align: center;
  border-bottom: 1px solid #000000;

  text-decoration: none;
  color: rgb(4, 51, 35);
  margin-bottom: 7px;
}
